# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Manager Usernames, local login
naranjeros.manager@league.local
la-aduana.manager@league.local
venenzuela.manager@league.local
san-augustine.manager@league.local
braves.manager@league.local
la-barca.manager@league.local
los-pajaros.manager@league.local
aztecs.manager@league.local
8-ballers.manager@league.local
illinois-white-sox.manager@league.local

#Manager Password
manager123

#Admin Usersame
admin@league.local

#Admin Password
admin123